# ========================================
# Project Dependencies
# ========================================
# Currently Universe Data Booklet have only common and basic Python dependicies.
# Up to its current version, Universe Data Booklet can be run using Phython (Always latest version).
